{{ define "sidebar.html" }}
    <div class="sidebar">
        <div class="logo">
            <span>StudyQuest</span>
        </div>
        <ul class="nav-links">
            <li id="menu-dash"><a href="/admin/">仪表盘</a></li>
            <li id="menu-users"><a href="/admin/users">用户与授权</a></li>
            <li id="menu-courses"><a href="/admin/courses">课程库管理</a></li>
            <li id="menu-import"><a href="/admin/import">文件导入</a></li>
            <li id="menu-badges"><a href="/admin/badges">荣誉徽章</a></li>
            <li id="menu-settings"><a href="/admin/settings">系统设置</a></li>
        </ul>
        <a href="/admin/logout" class="logout-btn">退出登录</a>
    </div>
    
    <div class="main-panel">
{{ end }}
